{% extends '@Evenement/Default/event.html.twig' %}

 {% block SubHeader %}
     <!--// SubHeader \\-->
     <div class="environment-subheader">
         <span class="subheader-transparent"></span>
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <h1> List des événements</h1>
                 </div>
                 <div class="col-md-12">
                     <ul class="environment-breadcrumb">
                         <li><a href="{{ path('evenement_listevent') }}"> List des événements</a></li>
                         <li> Mes événements participe</li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
     <!--// SubHeader \\-->
 {% endblock %}

{% block body %}
    <div class="row">

        <div class="col-md-12">
            <div class="environment-event environment-modren-event">
                <ul class="row">
                    {% for participation in participations %}
                        <li class="col-md-12">
                            <figure>
                                <a href="{{ path('evenement_detailRating' ,{'id':participation.event.id} )}}">
                                    <img src="{{ asset('uploads/event/' ~ participation.event.affiche) }}"  style="height: 350px ; width: 400px">
                                    <i class="fa fa-search-plus"></i></a>
                                <time datetime="2008-02-14 20:00">
                                    <i class="fa fa-calendar"></i>
                                    <time datetime="2008-02-14 20:00">{{ participation.event.start  |date ('d-m-Y')}}</time>
                            </figure>
                            <div class="environment-modren-event-text">
                                <h3><a href="{{ path('evenement_detailRating' ,{'id':participation.event.id} )}}">{{ participation.event.titre}} </a></h3>
                                <ul class="environment-event-option">
                                    <li>
                                        <i class="fa fa-clock-o"></i>
                                        heure:
                                        <time datetime="2008-02-14 20:00">  {{ participation.event.heure |date('H:i') }}</time>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        Location :
                                        <p>{{ participation.event.place }}</p>
                                    </li>
                                </ul>
                                <p>{{ participation.event.description}}
                                    <br>
                                    <br>  <div> <h1>{{ participation.event.etoile |rating(5, "fa-1x")  }}</h1></div>
                                <div>( {{ participation.event.etoile }}out of 5 ).</div>
                                <br>.</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
