{% extends '@Evenement/Default/event.html.twig' %}

{% block SubHeader %}
    <!--// SubHeader \\-->
    <div class="environment-subheader">
        <span class="subheader-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Event Grid View</h1>
                </div>
                <div class="col-md-12">
                    <ul class="environment-breadcrumb">
                        <li><a href="index-2.html">Homepage</a></li>
                        <li>Event liste</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader \\-->

{% endblock %}


{% block body %}

    <div class="environment-project environment-project-grid">
        <ul class="row">

            <li class="col-md-3">
                <div class="environment-widget-heading"><h2>Top event participant</h2></div>
                {% for topevent in topevent %}
                    <figure>
                        <a href="{{ path('evenement_detailRating' ,{'id':topevent.id} )}}"> <img src="{{ asset('uploads/event/' ~ topevent.affiche) }}" ><i class="fa fa-share-square-o"></i></a>
                    </figure>
                    <section>
                        <h5> <a href="{{ path('evenement_detailRating' ,{'id':topevent.id} )}}">{{ topevent.titre }}</a></h5>
                        <span> {{ topevent.nb }} participant </span>

                    </section>
                {% endfor %}
            </li>
        </ul>
        <ul class="row">
            <li class="col-md-3">
                <div class="environment-widget-heading"><h2>Top event etoile</h2></div>
                {% for topetoilrevent in topetoilrevent %}
                    <figure>
                        <a href="{{ path('evenement_detailRating' ,{'id':topetoilrevent.id} )}}"> <img src="{{ asset('uploads/event/' ~ topetoilrevent.affiche) }}" ><i class="fa fa-share-square-o"></i></a>
                    </figure>
                    <section>
                        <h5>  <a href="{{ path('evenement_detailRating' ,{'id':topetoilrevent.id} )}}">{{ topetoilrevent.titre }}</a></h5>
                        <span>
                                {{ topetoilrevent.etoile |rating(5, "fa-1x")  }}   </span>
                    </section>
                {% endfor %}
            </li>


        </ul>

    </div>

{% endblock %}




